In [1]:
import pandas as pd 
import datapane as dp

In [2]:
dp.login(token='abc1a885ab5197bfcfda5fd5d5408dd0c4d50f94')

Connected successfully to https://datapane.com as khuyentran1401

In [3]:
report = []

# Assign New Columns to a DataFame

In [4]:
df = pd.DataFrame({'col1': [1,2, 3, 4, 5], 'col2': [3, 4, 5, 6, 7]})
df

   col1  col2
0     1     3
1     2     4
2     3     5
3     4     6
4     5     7

In [5]:
report.append(f'''### [Article](https://towardsdatascience.com/how-to-exclude-the-outliers-in-pandas-dataframe-c749fca4e091)''')

In [6]:
report.append(f'''### [Source code](https://github.com/khuyentran1401/Data-science)''')

In [7]:
report.append('# Assign New Columns to a DataFrame')

In [8]:
report.append('## Before')

In [9]:
report.append("""
```python 
df = pd.DataFrame({'col1': [1,2, 3, 4, 5], 'col2': [3, 4, 5, 6, 7]})
```""")

In [10]:
report.append(dp.Table(df))

In [11]:
df = (df.assign(col3=lambda data: data.col1 * 100 + data.col2)
     .assign(col4=lambda data: data.col2 + data.col3))

In [12]:
df

   col1  col2  col3  col4
0     1     3   103   106
1     2     4   204   208
2     3     5   305   310
3     4     6   406   412
4     5     7   507   514

In [13]:
report.append('## After')

In [14]:
report.append(f"""
```python 
df = (df.assign(col3=lambda data: data.col1 * 100 + data.col2)
.assign(col4=lambda data: data.col2 + data.col3))
```
""")

In [15]:
report.append(dp.Table(df))

# Exclude the Outliers in a Column

In [16]:
data = {'col0': [9, -3, 0, -1, 5]}
df = pd.DataFrame(data)

In [17]:
df.col0.clip(lower=-2, upper=8)

0    8
1   -2
2    0
3   -1
4    5
Name: col0, dtype: int64

In [18]:
report.append('# Exclude the Outliers in a Column')

In [19]:
report.append('## Before')
report.append('''
```python 
data = {'col0': [9, -3, 0, -1, 5]}
df = pd.DataFrame(data)
```
''')
report.append(dp.Table(df))

In [20]:
lower = df.col0.quantile(.05)
upper = df.col0.quantile(.95)

In [21]:
df = df.clip(lower=lower, upper=upper)
df

   col0
0   8.2
1  -2.6
2   0.0
3  -1.0
4   5.0

In [22]:
report.append('## After')

In [23]:
report.append("""
```python 
lower = df.col0.quantile(.05)
upper = df.col0.quantile(.95)
df = df.clip(lower=lower, upper=upper)
```
""")

In [24]:
report.append(dp.Table(df))

# Select or Drop All Columns that Start with X

In [25]:
df = pd.DataFrame({'col1': [1,2,3, 4, 5], 
                   'col2': [4,5,6, 6, 7], 
                   'year': [2018, 2019, 2020, 2020, 2020]})
df

   col1  col2  year
0     1     4  2018
1     2     5  2019
2     3     6  2020
3     4     6  2020
4     5     7  2020

In [26]:
report.append('# Select or Drop All Columns that Start with X ')

In [27]:
report.append('## Before')
report.append("""
```python 
df = pd.DataFrame({'col1': [1,2,3, 4, 5], 'col2': [4,5,6, 6, 7], 'year': [2018, 2019, 2020, 2020, 2020]})
```
""")
report.append(dp.Table(df))

In [28]:
chosen_cols = df.columns.str.startswith('col')
chosen_cols

array([ True,  True, False])

## Select All Columns that Start with X

In [29]:
filtered_df = df.loc[:, chosen_cols]
filtered_df

   col1  col2
0     1     4
1     2     5
2     3     6
3     4     6
4     5     7

In [30]:
report.append('## Select')

In [31]:
report.append('''
```python 
chosen_cols = df.columns.str.startswith('col')
filtered_df = df.loc[:, chosen_cols]
```
''')

In [32]:
report.append(dp.Table(filtered_df))

## Drop All Columns that Start with X

In [33]:
filtered_df = df.loc[:, ~chosen_cols]
filtered_df

   year
0  2018
1  2019
2  2020
3  2020
4  2020

In [34]:
report.append('## Drop')

In [35]:
report.append("""
```python 
chosen_cols = df.columns.str.startswith('col')
filtered_df = df.loc[:, ~chosen_cols]
```
""")

In [36]:
report.append(dp.Table(filtered_df))

# Filter Rows only if Column Contains Values from another List

In [37]:
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5], 'col2': ['a', 'b', 'c', 'd', 'e']})

In [38]:
report.append('# Filter Rows only if Column Contains Values from another List')

In [39]:
report.append('## Before')
report.append("""
```python 
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5], 'col2': ['a', 'b', 'c', 'd', 'e']})
```
""")
report.append(dp.Table(df))

In [40]:
l = ['a', 'c', 'd', 'e']

In [41]:
df.col2.isin(l)

0     True
1    False
2     True
3     True
4     True
Name: col2, dtype: bool

In [42]:
df = df[df.col2.isin(l)]

In [43]:
report.append('## After')

In [44]:
report.append("""
```python 
l = ['a', 'c', 'd', 'e']
df = df[df.col2.isin(l)]
""")

In [45]:
report.append(dp.Table(df))

In [46]:
dp.Report(*report).publish(name='4 Pandas Tricks')

Publishing report and associated data - please wait..
Report successfully published at https://datapane.com/u/khuyentran1401/reports/4-pandas-tricks/